<div class= "background">
<br>
  <div class="form-container">
  <h2 class="title">Créer un événement</h2>
    <%= simple_form_for(event) do |f| %>
        <%= f.input :title, label: "Nom de l'événement" %>
        <%= f.input :category, label: "Catégorie de l'événement", collection: ["Anniversaire", "Mariage", "Baptême", "Fête", "Autre"] %>
        <%= f.input :address, label: "Adresse",
                    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
                    %>
        <%= f.input :start_date, label: "Sélectionnez la date et l'heure de début de votre événement", as: :string, input_html: { class: "range_start"} %>
        <%= f.input :end_date, label: "Sélectionnez la date et l'heure de fin de votre événement", as: :string, input_html: { class: "range_end"} %>
        <%= f.input :description, label: "Description" %>
        <%= f.input :photo, as: :file, label: "Image" %>
        <div class="button-centered"><input type="submit" name="commit" value="Créer votre événement" class="primary-orange-button" data-disable-with="Create Event"></div>
    <% end %>
  </div>
</div>
