<div class="container">
  <%= link_to "Ajouter une nouvelle dépense", new_event_spending_path(@event) %>
  <% if @event.budget.nil? %>
    <%= link_to "Définir un nouveau budget", new_event_budget_path(@event) %>
    <% else %>
    <%= link_to "Mettre à jour mon budget initial", edit_event_budget_path(@event) %>
    <h2>Budget initial : <%= @event.budget.initial_budget %></h2>
    <h2>Budget restant : <%= @event.budget.remaining_budget %></h2>
  <% end %>

  <h2><%= @event.title %></h2>
  <p><%= @event.address %></p>
  <p><%= @event.category %></p>
  <p><%= @event.description %></p>
  <%= cl_image_tag @event.photo.key, width: 400, height: 300, crop: :fill %>
  <p>Date de début : <%= @event.start_date %></p>
  <p>Date de fin : <%= @event.end_date, @event.end_time%></p>
  <%= link_to "Modifier l'événement", edit_event_path(@event.id) %>
  <%= link_to "Voir l'album de l'évenement", photos_event_path(@event.id) %>
  <%= link_to "Ajouter une photo à l'album", new_event_album_path(@event.id) %>
</div>
