<div class="container-new">
  <div class="d-flex justify-content-between">
    <h1>Mon profil</h1>
    <div class="d-flex align-items-center"><%= link_to "Créer un événement", new_event_path, class:"primary-orange-button" %>
    </div>
  </div>
  <table class="w-100">
    <thead>
      <tr class="column-names">
        <th scope="col" class= "border-event-left"><span class="table-titles">Mes événements</span></th>
        <th scope="col">Invités</th>
        <th scope="col">Budget</th>
        <th scope="col" class="border-event-right">Statut</th>
      </tr>
    </thead>
    <tbody class="event-content-profile">
      <% @events.each do |event| %>
      <tr class= "row-border">
        <td scope="row" class="d-flex row-table">
          <div>
            <% if event.photo.attached? %>
              <%= cl_image_tag event.photo.key, width: 70, height: 70, crop: :fill, radius: 8, class:"p-1" %>
            <% else %>
            <% end %>
          </div>
          <div class="table-event-name">
            <%= event.title %>
            <br>
            <%= event.start_date.strftime("%d" + "." + "%m" + "." +"%Y") %>
            <br>
            <%= link_to "Gérer l'événement", event_path(event) %>
          </div>
        </td>
        <td>
          <% if event.invitations.present? %>
            <%= event.invitations.length %>
          <% else %>
            <%= "-" %>
          <% end %>
        </td>
        <td>
          <% if event.budget.present?%>
            <%= event.budget.initial_budget %>
          <% else %>
            <%= "-" %>
          <% end %>
        </td>
        <td>
          <% if DateTime.now >= event.start_date %>
            <%= "Passé" %>
          <% else %>
            <%= "A venir" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table class="w-100 my-5">
    <thead>
      <tr class="column-names">
        <th scope="col" class= "border-event-left"><span class="table-titles">Mes invitations</span></th>
        <th scope="col">Invités</th>
        <th scope="col" class="border-event-right">Statut</th>
      </tr>
    </thead>
    <tbody class="event-content-profile">
      <% @invitations.each do |invitation| %>
        <tr class= "row-border">
          <td scope="row" class="d-flex row-table">
            <div>
              <% if invitation.event.photo.attached? %>
                <%= cl_image_tag invitation.event.photo.key, width: 70, height: 70, crop: :fill, radius: 8, class:"p-1" %>
              <% else %>
              <% end %>
            </div>
            <div class="table-event-name">
              <h1></h1><%= invitation.event.title %>
              <br>
              <%= invitation.event.start_date.strftime("%d" + "." + "%m" + "." +"%Y") %>
              <br>
            </div>
          </td>
          <td>
            <% if invitation.event.invitations.present? %>
              <%= invitation.event.invitations.length %>
            <% else %>
              <%= "-" %>
            <% end %>
          </td>
          <td>
            <% if DateTime.now >= invitation.event.start_date %>
              <%= "Passé" %>
            <% else %>
              <%= "A venir" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
