<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Mon profil</h1>
    <div class="d-flex align-items-center"><%= link_to "Créer un événement", new_event_path, class:"primary-orange-button" %>
    </div>
  </div>
  <table class="w-100">
    <thead>
      <tr class="column-names">
        <th scope="col" class= "border-event-left"><span class="table-titles">Mes événements</span></th>
        <th scope="col">Invités</th>
        <th scope="col">Budget</th>
        <th scope="col" class="border-event-right">Statut</th>
      </tr>
    </thead>
    <tbody class="event-content-profile">
      <% @events.each do |event| %>
      <tr class= "row-border">
        <td scope="row" class="d-flex row-table m-3">
          <div>
            <% if event.photo.attached? %>
              <%= cl_image_tag event.photo.key, width: 125, height: 125, crop: :fill, radius: 8, class:"p-1" %>
            <% else %>
            <% end %>
          </div>
          <div class="text-event">
            <div class="table-event-name pl-2">
              <h5 class="event-title mt-3"><%= event.title %></h5>
              <p class="event-date"><%= event.start_date.strftime("%d" + "." + "%m" + "." +"%Y") %></p>
            </div>
            <div>
              <%= link_to event_path(event) do %>
                <i class="fa-solid fa-eye icone-event"></i>
              <% end %>
            </div>
          </div>
        </td>
        <td>
          <% if event.invitations.present? %>
            <%= event.invitations.length %>
          <% else %>
            <%= "-" %>
          <% end %>
        </td>
        <td>
          <% if event.budget.present?%>
            <%= event.budget.initial_budget %>€
          <% else %>
            <%= "-" %>
          <% end %>
        </td>
        <td>
          <% if DateTime.now >= event.start_date %>
            <%= "Passé" %>
          <% else %>
            <%= "A venir" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table class="w-100 my-5">
    <thead>
      <tr class="column-names">
        <th scope="col" class= "border-event-left"><span class="table-titles">Mes invitations</span></th>
        <th scope="col">Invités</th>
        <th scope="col" class="border-event-right">Statut</th>
      </tr>
    </thead>
    <tbody class="event-content-profile">
      <% @invitations.each do |invitation| %>
        <tr class= "row-border">
          <td scope="row" class="d-flex row-table m-3">
            <div>
              <% if invitation.event.photo.attached? %>
                <%= cl_image_tag invitation.event.photo.key, width: 125, height: 125, crop: :fill, radius: 8, class:"p-1" %>
              <% else %>
              <% end %>
            </div>
            <div>
              <div class="table-event-name">
                <h5 class="event-title mt-3"><%= invitation.event.title %></h5>
                <p class="event-date"><%= invitation.event.start_date.strftime("%d" + "." + "%m" + "." +"%Y") %></p>
              </div>
              <div>
                <%= link_to event_path(invitation.event) do %>
                  <i class="fa-solid fa-eye icone-event"></i>
                <% end %>
              </div>
            </div>
          </td>
          <td>
            <% if invitation.event.invitations.present? %>
              <%= invitation.event.invitations.length %>
            <% else %>
              <%= "-" %>
            <% end %>
          </td>
          <td>
            <% if DateTime.now >= invitation.event.start_date %>

              <%= "Passé" %>
            <% else %>
              <%= "A venir" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
