<<<<<<< HEAD
<div class="container">
<h1>Mes invités</h1>

<%= form_with url: event_invitations_path, method: :get do %>
   <%= text_field_tag :query,
    params[:query],
    class: "search-input",
    placeholder: "Rechercher un invité"
    %>
  <button class="main-btn" type="submit">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
  <% end %>
  <div class="all-invited">
      <% @invitations.each do |invitation| %>
        <%# <%= cl_image_tag invitation.user.photo.key, gravity: :faces, crop: :thumb, class: "avatar-big-index" %>
    <div class="invited-avatars">
      <% if current_user.photo.attached? %>
              <%= cl_image_tag avatar.photo.key, class:"avatar-big-index"%>
            <% else %>
              <img class="avatar-big-index" src="https://kitt.lewagon.com/placeholder/users/krokrob">
            <% end %>
            <div class="name-status">
            <p><%= invitation.user.first_name %>
            <%= invitation.user.last_name %><br>
          <% if invitation.status == true %>
            <%= 'Participe' %>
              <% elsif invitation.status == false %>
            <%= 'Ne participe pas' %>
              <% elsif %>
            <%= 'En attente de réponse' %></p>
            </div>
    </div>
        <% end %>
    <% end %>
  </div>
</div>
=======
<% if @event.user.status = true %>
<% @event.users.each do |user|%>
  <%# <%= link_to event_invitation_path %>
  <%= user.first_name %>
  <%= user.last_name %>
<% end %>
<% end %>
>>>>>>> bdada3620f958c65d1ab389793173ede2e845bfc
