<div class="container">
  <h1>Mes invités</h1>

  <div class= "search-bar">
    <%= form_with url: event_invitations_path, method: :get do %>
      <%= text_field_tag :query,
      params[:query],
      class: "search-input",
      placeholder: "Rechercher un invité"%>
      <button class="main-btn" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <% end %>
    <%= link_to "Retourner à l'événement", event_path(@event), class:"primary-orange-button" %>
  </div>

  <div class= "invites-container">
    <div class="info-card d-flex align-items-center">
        <div>
          <i class="fa-solid fa-user-group landing-icon icon-size"></i>
        </div>
        <div class="text-icon">
          <h5 class="--black">Nombre d'invités</h5>
            <H5><%= @event.invitations.count%></H5>
        </div>
    </div>
    <div class="info-card d-flex align-items-center">
        <div>
          <i class="fa-solid fa-user-check landing-icon icon-size"></i>
        </div>
        <div class="text-icon">
          <h5 class="--black">Total présents </h5>
      <H5><%= @event.invitations.where(status: true).count%></H5>
        </div>
    </div>
    <div class="info-card d-flex align-items-center">
        <div>
          <i class="fa-solid fa-user-clock landing-icon icon-size"></i>
        </div>
        <div class="text-icon">
          <h5 class="--black">En attente</h5>
      <H5><%= @event.invitations.where(status: nil).count%></H5>
        </div>
    </div>
  </div>

  <div class="all-invited">
      <% @invitations.each do |invitation| %>
        <%# <%= cl_image_tag invitation.user.photo.key, gravity: :faces, crop: :thumb, class: "avatar-big-index" %>
    <div class="invited-avatars">
      <% if invitation.user.photo.attached? %>
              <%= cl_image_tag invitation.user.photo.key, class:"avatar-big-index" %>
            <% else %>
              <img class="avatar-big-index" src="https://kitt.lewagon.com/placeholder/users/krokrob">
            <% end %>
            <div class="name-status">
            <p><%= invitation.user.first_name %>
            <%= invitation.user.last_name %><br>
          <% if invitation.status == true %>
            <%= 'Participe' %>
              <% elsif invitation.status == false %>
            <%= 'Ne participe pas' %>
              <% elsif %>
            <%= 'En attente de réponse' %></p>
              <% end %>
            </div>
    </div>
    <% end %>
  </div>
</div>
