<ul><% @event.invitations.each do |invitation| %>
  <li><%= invitation.user.first_name %>
  <%= invitation.user.last_name %>
  <% if invitation.status == true %>
  <%= 'Participe' %>
    <% elsif invitation.status == false %>
  <%= 'Ne participe pas' %>
    <% elsif %>
  <%= 'En attente de réponse' %></li>
  <% end %>
<% end %>
</ul>
